@{
    ViewData["Title"] = "About";
}

<h1>About Tindahan Ni Aling Nena</h1>
<div class=" = " container">
    <div class="row">
        <div class="col-sm.no-gutters">
            <iframe src="https://open.spotify.com/embed/track/1FsVa6q1CStHdgqZjaKwNk" width="300" height="390" frameborder="0" allowtransparency="false" allow="encrypted-media"></iframe>
        </div>
        <div class="col-sm">
            <p>
                This store was inspired by the popular EraserHeads song of the same name. The song tells a story about a young man who falls in love with a girl while out buying vinegar
                in Aling Nena's store. He finds out she's Aling Nena's daughter and convinces Aling Nena to introduce him to her. He agrees to buying something from Aling Nena's store everyday for
                the chance to meet her daughter. The story ends with the young man meeting the girl but nothing happens between the two of them.
            </p>
            <p>Founder and Owner Marielle Nolasco started the store as a Console App project for Revature and expanded it into the online business we have today.</p>
            <p>
                As a store, Tindahan ni Aling Nena specializes in selling diiferent kinds of vinegar and Filipino products. Modeled after Philipppine sari-sari stores, place an order today and experience the Filipino
                buying culture. Come often and become a suki!
            </p>
        </div>

    </div>
</div>