@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome sa Tindahan ni Aling Nena</h1>
        <p>We sell different kinds of vinegar and Filipino products. Come often enough and become a <em>suki</em> (Filipino term for regular customer)</p>
    </div>
