@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome sa Tindahan ni Aling Nena</h1>
        <p>This store was inspired by the popular EraserHeads song of the same name. Listen to it here.</p>
        <iframe src="https://open.spotify.com/embed/track/1FsVa6q1CStHdgqZjaKwNk" width="300" height="390" frameborder="0" allowtransparency="false" allow="encrypted-media"></iframe>
    </div>
